<div layout-gt-xs="row">
  <div flex-gt-xs="">
    <h4>С</h4>
    <md-datepicker ng-model="ctrl.from" md-placeholder="С"></md-datepicker>
  </div>
</div>
<div layout-gt-xs="row">
  <div flex-gt-xs="">
    <h4>По</h4>
    <md-datepicker ng-model="ctrl.to" md-placeholder="По"></md-datepicker>
  </div>
</div>
<div layout-gt-xs="row">
  <span class="options-date">Вчера</span><span class="options-date">Сегодня</span><span class="options-date">2 недели</span><span class="options-date">Месяц</span><span class="options-date">Все</span>
</div>
